.text1 {
    color: rgb(153, 16, 16);
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Lora');
body {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative; 
  background: url(../img/qwe.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: auto;
  border: none;
  font-family: 'Montserrat', sans-serif;
}
ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  nav {
    display: block;
    width: 660px;
    margin: 0 auto 30px;
  }
  .nav-menu {
    list-style: none;
    margin: 20px 0 5px;
    padding: 15px 0 5px;
    text-align: center;
    background: rgb(255, 255, 255, 0.7);
  }
  .nav-menu li {display: inline-block;}
  .nav-menu li:after {
    content: "|";
    color: #000000;
    display: inline-block;
    vertical-align:top;
  }
  .nav-menu li:last-child:after {content: none;}
  .nav-menu ul {
    display: -webkit-flex; 
    display: flex;
    padding-left: 0;
  }
  .nav-menu a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 3px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 14px 0 10px;
    font-size: 130%;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
    border-radius:4px;
    font-weight: bold;
  }
  .nav-menu a, .nav-menu a:visited {color: #000000;}
  .nav-menu a.current, .nav-menu a:hover{color: #8b8b8baf;}
  .nav-menu a:before,
  .nav-menu a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -2px;
    left: 50%;
    background: #000000;
    transition: .8s;
  }
  .nav-menu a:hover:before, .nav-menu .current:before {left: 0;}
.nav-menu a:hover:after, .nav-menu .current:after {right: 0;}   
@media (max-width: 550px) {
.nav-menu {padding-top: 0;}
.nav-menu li {display: block;}
.nav-menu li:after {content: none;}
.nav-menu a {
padding: 25px 0 20px; 
margin: 0 30px;
}
}
  li {
    display: inline;
    margin-right: -2px;
  }
  a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
  }
 .main-body{
  list-style: none;
  margin: 70px 220px 220px 220px;
  padding: 40px 2px 2px;
  text-align: center;
  background: rgb(255, 255, 255, 0.8);
  font-family: 'Montserrat', sans-serif;

 }
 element.style {
    margin-top: 1em;
}
.logo {
    image-orientation: flip;
    text-align: center;
}

  .swiper {
    width: 1350px;
    height: 625px;
  }
  .wrapper {
    padding: 0;
    min-width: 100%;
  }
  .image-slider {
    padding: 20px 0 70px 0;
  }

  .image-slider__image {
    text-align: center;
  }
  .image-slider__image img {
    max-width: 100%;
  }
 .swiper-button-prev::after,
 .swiper-button-next::after {
    color: rgb(255, 255, 255);
}
.image-slider .swiper-pagination {
  bottom: 0;
}
.image-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section.gallery{
  position: relative;
  padding: 45px 0;
}
.gallery-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 0;
  margin-top: 30px;
}
.gallery-item{
  display: block;
  flex: 25%;
  overflow: hidden;
  position: relative;
}
.gallery-item-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(0,0,0, .7);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity .5s ease;
  z-index: 2;
}
.gallery-item:hover .gallery-item-hover{
  opacity: 1;
}
.gallery-item:hover img{
  transform: scale(1.3) rotate(5deg);
}
.gallery-item img{
  max-width: 100%;
  height: auto;
  transition: all .5s ease;
}
@media (max-width: 991px){
  .gallery-item{
    flex: 33.3%;
  }
}
@media (max-width: 768px){
  .gallery-item{
    flex: 50%;
  }
}
@media (max-width: 530px){
  .gallery-item{
    flex: 100%;
  }
}



footer .main-footer{
  padding: 20px 0;
  background: #252525;
  }

.widget.no-box{ 
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  margin-left: 20px;
  }

.widget li a{
   color: #ff8d1e;
  }

.widget-title span {
  background: #87959c none repeat scroll 0 0;
  display: block;
   height: 1px;
   margin-top: 25px;
   position: relative;
   width: 20%;
  }
 
.typo-light h5{
   color: #fff;
  }

